.wrapper {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
}
.about-container {
  position: relative;
  color: #3e3e3e;
  margin: auto;
  max-width: 90%;
  padding: 2rem;
}

.about-header {
  text-align: center;
}

.about-body {
  span {
    border: 2px solid #3e3e3e;
    font-weight: 800;
    font-size: medium;
    padding: 2px 10px;
    border-radius: 30px;
  }
}

@media (max-width: 576px) {
  .about-container {
    padding: 0 0 1rem 0;
    margin-inline: 1.5rem;
    max-width: 100%;
  }

  .heading {
    text-align: start;
  }

  .intro {
    text-align: justify;
  }

  ul {
    padding: 1rem;
  }
}
