.home-container {
  color: #3e3e3e;
  margin: auto;
  max-width: 90%;
  padding: 2rem;
}

.home-header {
  text-align: center;
  span {
    border: 2px solid #3e3e3e;
    font-weight: 800;
    font-size: medium;
    padding: 2px 10px;
    border-radius: 30px;
  }
}

@media (max-width: 576px) {
  .home-container {
    padding: 0;
    margin-inline: 2rem;
    max-width: 100%;
  }

  .heading {
    text-align: start;
  }

  .intro {
    text-align: justify;
  }

  ul {
    padding: 1rem;
  }
}
